* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-hero {
    background-image: url(../img/240\ b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}

#review-hero {
    background-color: #bac2d9;
}